<f:if condition="{configuration.insertAbove}">
	<f:render section="paginator" arguments="{pagination: pagination}" />
</f:if>

<f:renderChildren arguments="{contentArguments}" />

<f:if condition="{configuration.insertBelow}">
	<f:render section="paginator" arguments="{pagination: pagination}" />
</f:if>

<f:section name="paginator">
	<f:if condition="{pagination.numberOfPages} > 1">
		<div class="paging_bootstrap pagination">
			<ul>
				<f:if condition="{pagination.previousPage}">
					<li class="prev">
						<f:if condition="{pagination.previousPage} > 1">
							<f:then>
								<f:widget.link arguments="{currentPage: pagination.previousPage}"><f:translate key="widget.pagination.previous">&laquo;</f:translate></f:widget.link>
							</f:then>
							<f:else>
								<f:widget.link><f:translate key="widget.pagination.previous">&laquo;</f:translate></f:widget.link>
							</f:else>
						</f:if>
					</li>
				</f:if>
				<f:if condition="{pagination.displayRangeStart} > 1">
					<li class="first">
						<f:widget.link>1</f:widget.link>
					</li>
				</f:if>
				<f:if condition="{pagination.hasLessPages}">
					<li class="disabled"><a><f:translate key="widget.pagination.ellipsis">&hellip;</f:translate></a></li>
				</f:if>
				<f:for each="{pagination.pages}" as="page">
					<f:if condition="{page.isCurrent}">
						<f:then>
							<li class="active">
								<f:widget.link arguments="{currentPage: page.number}">{page.number}</f:widget.link>
							</li>
						</f:then>
						<f:else>
							<li>
								<f:if condition="{page.number} > 1">
									<f:then>
										<f:widget.link arguments="{currentPage: page.number}">{page.number}</f:widget.link>
									</f:then>
									<f:else>
										<f:widget.link>{page.number}</f:widget.link>
									</f:else>
								</f:if>
							</li>
						</f:else>
					</f:if>
				</f:for>
				<f:if condition="{pagination.hasMorePages}">
					<li class="disabled"><a><f:translate key="widget.pagination.ellipsis">&hellip;</f:translate></a></li>
				</f:if>
				<f:if condition="{pagination.displayRangeEnd} < {pagination.numberOfPages}">
					<li class="last">
						<f:widget.link arguments="{currentPage: pagination.numberOfPages}">{pagination.numberOfPages}</f:widget.link>
					</li>
				</f:if>
				<f:if condition="{pagination.nextPage}">
					<li class="next">
						<f:widget.link arguments="{currentPage: pagination.nextPage}"><f:translate key="widget.pagination.next">&raquo;</f:translate></f:widget.link>
					</li>
				</f:if>
			</ul>
		</div>
	</f:if>
</f:section>
